@using Lesson_7_Validation.Models.ViewModels
@{
	ViewData["Title"] = "Register";

}
@model RegisterViewModel;


	<div class="wrapper p-0">
<form asp-controller="LoginRegister" asp-action="Register" method="post">


		<div class="input-box">
			<input asp-for="Username" class="form-control" placeholder="Username" required />
			<span asp-validation-for="Username" class="text-danger"></span>
		</div>
		<div class="input-box">
			<input asp-for="Email" class="form-control" placeholder="Email" required />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>

		<div class="input-box">
			<input asp-for="Password" type="password" class="form-control" placeholder="Password" required />
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="input-box">
			<input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required />
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
</form>
	</div>

<p>Already have an account? <a asp-action="Login">Login here</a></p>
